PackageCache/** filter=lfs diff=lfs merge=lfs -text
Unity[[:space:]]files/** filter=lfs diff=lfs merge=lfs -text
UnityFiles/** filter=lfs diff=lfs merge=lfs -text
UnityFiles/Assets filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library filter=lfs diff=lfs merge=lfs -text
UnityFiles/Logs filter=lfs diff=lfs merge=lfs -text
UnityFiles/Packages filter=lfs diff=lfs merge=lfs -text
UnityFiles/ProjectSettings filter=lfs diff=lfs merge=lfs -text
UnityFiles/UserSettings filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/expandedItems filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/EditorOnlyScriptingSettings.json filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/EditorUserBuildSettings.asset filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/SourceAssetDB-lock filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/Style.catalog filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/MonoManager.asset filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/ScriptAssemblies filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/Search filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/ArtifactDB-lock filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/EditorOnlyVirtualTextureState.json filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/LibraryFormatVersion.txt filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageManager filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/ScriptMapper filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/AnnotationManager filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/Artifacts filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/Bee filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/BurstCache filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/BuildPlayer.prefs filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/ShaderCache.db filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/SpriteAtlasDatabase.asset filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/TempArtifacts filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/BuildSettings.asset filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/EditorSnapSettings.asset filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/InspectorExpandedItems.asset filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/LastSceneManagerSetup.txt filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/APIUpdater filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/SceneVisibilityState.asset filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/ShaderCache filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/SourceAssetDB filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/StateCache filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.physics2d@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.postprocessing@3.2.2 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.ide.rider@3.0.16 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.ide.vscode@1.2.5 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.mathematics@1.2.6 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.cloth@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.particlesystem@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.terrain@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.uielements@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.subsystems@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.unitywebrequesttexture@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.unitywebrequestwww@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.assetbundle@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.textmeshpro@3.0.6 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.ui@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.vr@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.test-framework@1.1.31 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.jsonserialize@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.unityanalytics@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.ai@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.director@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.imgui@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.terrainphysics@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.performance.profile-analyzer@1.1.1 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.editorcoroutines@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.ide.visualstudio@2.0.16 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.audio@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.unitywebrequestaudio@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.vehicles@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.unitywebrequest@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.umbra@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.unitywebrequestassetbundle@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.video@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.barracuda@2.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.collab-proxy@1.17.6 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.ml-agents@2.0.1 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.physics@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.screencapture@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.ext.nunit@1.0.6 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.services.core@1.6.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.burst@1.6.6 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.xr@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.nuget.newtonsoft-json@3.0.2 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.settings-manager@1.0.3 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.ugui@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.androidjni@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.animation@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.tilemap@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.wind@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.feature.development@1.0.1 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.testtools.codecoverage@1.0.1 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.timeline@1.6.4 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.imageconversion@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.modules.uielementsnative@1.0.0 filter=lfs diff=lfs merge=lfs -text
UnityFiles/Library/PackageCache/com.unity.visualscripting@1.7.8 filter=lfs diff=lfs merge=lfs -text
